:root {
    /* colors */
    --main-bg-color: #393c44;
    --btn-color: #00adb5;
    --txt-color: #c2c2c2;
    --heading-color: #008080;

    /* headings */
    --heading-large: 4.5em;

    /* additional styles for skillset card */
    --progress-bg-color: #e0e0e0;
    --progress-fill-color: var(--btn-color);

    --heading-medium: 2.5em;
    --heading-small: 1.5em;
    --body-txt:1em;
}

@font-face {
    font-family: "Nunito", sans-serif;
    src: url(/myapp/static/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    }
    
    @font-face {
    font-family: "Inconsolata", sans-serif;
    src: url(/myapp/static/fonts/Inconsolata[wdth\,wght].ttf);
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
