@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    /* colors */
    --main-bg-color: #0E151B;
    --surface: #1a242e;
    --brand: #00c2cb;
    --brand-soft: #004e50;
    --text: #e0ffff;
    --muted-text: #a9b5c5;
    --border: #00CCC9;
    --highlight: #00fff7;
    --danger: #ff7aa4;

    --header-bg: rgba(12, 16, 22, 0.8);
    --nav-bg-start: #0c1016;
    --nav-bg-end: #111a22;
    --nav-shadow: rgba(0, 0, 0, 0.5);
    --nav-active-bg-start: #00fff1;
    --nav-active-bg-end: #00ccc9;
    --nav-active-text: #0c1016;
    --nav-hover-bg-start: rgba(0, 255, 241, 0.1);
    --nav-hover-bg-end: rgba(0, 204, 201, 0.05);

    /* headings */
    --heading-large: 4.5em;

    /* additional styles for skillset card */
    --progress-bg-color: #e0e0e0;
    --progress-fill-color: var(--btn-color);

    --heading-medium: 2.5em;
    --heading-small: 1.5em;
    --body-txt:1em;

    /* images */
    --img-border: 2px solid var(--border);
    --image-1: url('/images/tech-image-1.jpg');
    --image-2: url('/images/tech-image-2.jpg');
    --image-3: url('/images/tech-image-3.jpg');
}

:root[data-theme='light'] {
    --main-bg-color: #e0e7ff;
    --surface: #e8edf3;
    --brand: #0b5d68;
    --brand-soft: #1b6e79;
    --text: #10202a;
    --muted-text: #3f4a55;
    --border: #4e98a0;
    --highlight: #07565e;
    --danger: #9e1e4c;
    
    /* light theme */
    --header-bg: #F5F7FBD1;
    --nav-bg-start: #ffffff;
    --nav-bg-end: #e9eef4;
    --nav-shadow: #0F172A1F;
    --nav-active-bg-start: #2fc6ce;
    --nav-active-bg-end: #8fe4ea;
    --nav-active-text: #10202a;
    --nav-hover-bg-start: #12A8B11F;
    --nav-hover-bg-end: #12A8B10A;
}

@font-face {
    font-family: "Nirequa";
    src: url('../fonts/Nirequa.otf');
}

@font-face {
    font-family: "Azonix";
    src: url('../fonts/azonix.ttf');
}

@font-face {
    font-family: "Nunito", sans-serif;
    src: url('../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}

@font-face {
    font-family: "Inconsolata", sans-serif;
    src: url('../fonts/Inconsolata[wdth\,wght].ttf');
}

@font-face {
    font-family: "Neofolia";
    src: url('../fonts/neofolia.ttf') format('truetype');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--main-bg-color);
    color: var(--text);
    transition: background-color 0.25s ease, color 0.25s ease;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Azonix";
}

p {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}



